<div style=" ">
    <div style="position:absolute; bottom:68px; left:25px;">
        <h2 style="margin:5px 5px 5px 15px;padding-left:10px">Hochshule Anhalt</h2>
    </div>
    <div style="float:left;">
        <img src="http://www.telegroum.com/imgJup/hsLogo.JPG" alt="" style="width:300px;">
    </div>   
    <div style="float:left; padding-left: 20px;background-color:#e7e9eb">
        <h1 style="font-family: new times roman">Projekt Data Science 1</h1>
        <h6 style="font-family: new times roman; margin-left:20px;">Student: Amer Goli</h6>
    </div>
    <div style=" display:block;margin-left: 20px;">
    </div>
</div>

<div style="text-align:center;background-color:#e7e9eb;">
    </br>
     </br>
   <h1 style="font-family: new times roman; font-size:2.8em">Data Understanding</h1>
   </br>  </br> </br> </br> </br>
</div>

#

## Datei lesen
Die Daten stammen aus den Jahren 2017, 18, 19 und teilweise 2020.

In [2]:
%matplotlib notebook
import pandas as pd
import numpy as np
from IPython.display import HTML, display

dataFrame = pd.read_csv("Landkreise.csv", encoding='latin-1',  skip_blank_lines=True, skipinitialspace=True, sep=';')
dataFrame.head()

,id,name,anteil_ausländer,anteil_bevölkerung_0_bis_17,anteil_bevölkerung_18_bis_24,anteil_bevölkerung_25_bis_44,anteil_bevölkerung_25_bis_45,anteil_bevölkerung_65_und_aelter,anteil_schulabgänger_mit_allg_hochschulreife,anteil_schulabgänger_ohne_hauptschulabschluss,...,krankenhausbetten_je_tsd_einwohner,personal_je_hundert_pflegebedürftige_in_vollpflege,pflegebedürftige_je_tsd_ab_65,pkw_bestand_je_tsd_einwohner,plätze_in_pflegenheimen_je_tsd_einwohner_ab_65,übernachtungen_je_einwohner,unternehmensinsolvenzen_je_zehntsd_steuerpflichtigen_unternehmen,verfügbares_einkommen_je_einwohner_in_euro,wanderungssaldo_je_zehntsd_frauen_18_bis_29,wanderungssaldo_je_zehntsd_männer_18_bis_29
0,1001,"Flensburg, Kreisfreie Stadt",15.2%,15.7%,11.9%,26.5%,25.7%,20.1%,45.5%,8.6%,...,9.8,87.6,182.4,489.6,63.0,4.0,64.4,19296,335.1,408.5
1,1002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",12.0%,14.8%,10.9%,30.0%,25.5%,18.8%,43.1%,9.0%,...,10.1,92.0,159.6,445.0,53.3,3.5,66.7,19263,284.3,363.2
2,1003,"Lübeck, Hansestadt, Kreisfreie Stadt",10.6%,15.1%,8.3%,25.1%,28.2%,23.3%,38.2%,11.8%,...,9.1,82.5,169.6,453.4,69.7,9.4,63.0,20363,209.0,280.2
3,1004,"Neumünster, Kreisfreie Stadt",12.7%,16.4%,8.4%,24.2%,28.4%,22.6%,46.0%,10.4%,...,8.7,88.8,198.6,527.8,76.0,2.3,102.5,19233,163.4,358.5
4,1051,"Dithmarschen, Landkreis",6.0%,15.8%,7.7%,20.6%,31.0%,25.0%,27.3%,10.1%,...,4.9,101.9,167.7,605.7,57.9,13.5,71.7,22866,-164.3,-135.6

## Größe Der Datei

In [3]:
import os
size_KB = float("{:.2f}".format(os.stat(r'landkreise.csv').st_size/1024))
print('Größe der CSV-Datei: '+ str(size_KB) +' KB')

Größe der CSV-Datei: 89.0 KB

## Form des Dataframes

In [4]:
print('Form des Datensatzes:', dataFrame.shape)
print('Anzahl der Landkreisen: ', len(dataFrame['name']))
print('Anzahl der Attributen:  ', len(dataFrame.columns))

Form des Datensatzes: (401, 34)
Anzahl der Landkreisen:  401
Anzahl der Attributen:   34

## Type der Attributen

In [5]:
AttBesch = {
    'id':        "Id des Landkreises",
    'name':      "Name des Landkreises",
    'anteil_ausländer':                 "Anteil der ausländischen Bevölkerung an der Gesamtbevölkerung       [Prozent]",
    'anteil_bevölkerung_0_bis_17':      "Anteil der 0- bis 17-Jährigen an der Gesamtbevölkerung              [Prozent]",
    'anteil_bevölkerung_18_bis_24':     "Anteil der 18- bis 24-Jährigen an der Gesamtbevölkerung             [Prozent]",
    'anteil_bevölkerung_25_bis_44':     "Anteil der 25- bis 44-Jährigen an der Gesamtbevölkerung             [Prozent]",
    'anteil_bevölkerung_25_bis_45':     "Anteil der 45- bis 64-Jährigen an der Gesamtbevölkerung             [Prozent]",
    'anteil_bevölkerung_65_und_aelter': "Anteil der 65 Jahre und Älteren an der Gesamtbevölkerung            [Prozent]",
    'anteil_schulabgänger_mit_allg_hochschulreife':  "Anteil Schulabgänger/-innen mit allgem. Hochschulreife [Prozent]",
    'anteil_schulabgänger_ohne_hauptschulabschluss': "Anteil Schulabgänger/-innen ohne Hauptschulabschluss   [Prozent]",
    'arbeitslosenqoute':      "Arbeitslosenquote                                                             [Prozent]",
    'arbeitsplatzdichte':     "Arbeitsplatzdichte: Verhältnis zwischen vorhandenen Arbeitsplätzen und der Wohnbevölkerung  [Anzahl]",
    'beschäftigenqoute':      "beschäftigenqoute: Anteil der sozialversicherungspflichtig Beschäftigten      [Prozent]",
    'beschäftigte_öffentlicher_je_tsd_einwohner':  "Beschäftigte Bund, Länder, Gemeinden/-verbände je 1.000 EW             [Anzahl]",
    'betreuungsqoute_0_bis_2':     "Anteil betreute Kinder 0-2 Jahre in Tagespflege und Tageseinrichtungen   [Prozent]",
    'betreuungsqoute_3_bis_5':     "Anteil betreute Kinder 3-5 Jahre in Tageseinrichtungen                   [Prozent]",
    'bevölkerungsdichte_einwohner_je_qkm':                   "Bevölkerungsdichte (EW je qkm)                               [Anzahl]",
    'bevölkerungsentwicklung_pro_jahr_je_zehntsd_einwohner': "Bevölkerungszunahme (+) bzw. Bevölkerungsabnahme (-) je 10.000 EW.",
    'bip_je_erwerbstätigen':           "Bruttoinlandsprodukt in jeweiligen Preisen je Erwerbstätigen (am Arbeitsort) in EUR[2017]",
    'bruttoentgelt_je_beschäftigte':   "Bruttoentgelte je Beschäftigten [EUR]",
    'durchschnittsalter':              "Durchschnittsalter der Bevölkerung                                                 [Anzahl]",
    'einkünfte_je_steuerpflichtige':   "Gesamtbetrag der Einkünfte je Steuerpflichtigen [EUR] 2016",
    'gestorbene_je_zehntsd':           "Gestorbene je 10.000 EW                                                            [Anzahl]",
    'gewerbeanmeldungen_je_zehntsd':   "Gewerbeanmeldungen je 10.000 EW",
    'krankenhausbetten_je_tsd_einwohner':                    "Krankenhausbettendichte (Betten je 1.000 EW)                 [Anzahl]",
    'personal_je_hundert_pflegebedürftige_in_vollpflege':    "Personal je 100 Pflegebedürftige in vollstationären Pflege   [Anzahl]",
    'pflegebedürftige_je_tsd_ab_65':    "Pflegebedürftige je 1.000 EW ab 65 Jahre                                          [Anzahl]",
    'pkw_bestand_je_tsd_einwohner':     "Pkw-Bestand je 1.000 EW (2020).                                                   [Anzahl]",
    'plätze_in_pflegenheimen_je_tsd_einwohner_ab_65':    "Plätze in Pflegeheimen je 1.000 EW ab 65 Jahre                   [Anzahl]",
    'übernachtungen_je_einwohner':                       "Übernachtungen von Gästen in Beherbergungsbetrieben je EW        [Anzahl].",
    'unternehmensinsolvenzen_je_zehntsd_steuerpflichtigen_unternehmen': "Unternehmensinsolvenzen je 10.000 steuerpfl. Unternehmen [Anzahl]",
    'verfügbares_einkommen_je_einwohner_in_euro':     "Verfügbares Einkommen der privaten Haushalte einschließlich privater Organisationen ohne Erwerbszweck je Einwohnerin und Einwohner [EUR]",
    'wanderungssaldo_je_zehntsd_frauen_18_bis_29':    "Wanderungssaldo je 10 000 Frauen 18 bis 29 Jahre                    [Anzahl]",
    'wanderungssaldo_je_zehntsd_männer_18_bis_29':    "Wanderungssaldo je 10 000: Männer 18 bis 29 Jahre                   [Anzahl]"}
df = dataFrame.copy()# Kopie vom Dataframe

In [6]:
types = df.dtypes #Type von Attributen
stichPrDf = df.loc[5] #
Att_ueberblick = pd.DataFrame( index=types.index, data={
    'Beschreibung': AttBesch,    
    'Beispiel'    : stichPrDf,
    'Datentyp'    :types.values    
})
Att_ueberblick = Att_ueberblick.set_index(np.arange(0,34))
Att_ueberblick = Att_ueberblick.style.set_properties(**{'text-align': 'left'})
display(Att_ueberblick)

## Anzahl der Nicht-NaN-Werte

In [7]:
print('Attribute mit Anzahl der Nicht-NaN-Werte:')
print(df.count())
print(' ')

Attribute mit Anzahl der Nicht-NaN-Werte:
id                                                                  401
name                                                                401
anteil_ausländer                                                    401
anteil_bevölkerung_0_bis_17                                         401
anteil_bevölkerung_18_bis_24                                        401
anteil_bevölkerung_25_bis_44                                        401
anteil_bevölkerung_25_bis_45                                        401
anteil_bevölkerung_65_und_aelter                                    401
anteil_schulabgänger_mit_allg_hochschulreife                        401
anteil_schulabgänger_ohne_hauptschulabschluss                       401
arbeitslosenqoute                                                   401
arbeitsplatzdichte                                                  401
beschäftigenqoute                                                   401
beschäftigte_öffentlicher_je_tsd_einwohner                          401
betreuungsqoute_0_bis_2                                             401
betreuungsqoute_3_bis_5                                             401
bevölkerungsdichte_einwohner_je_qkm                                 401
bevölkerungsentwicklung_pro_jahr_je_zehntsd_einwohner               401
bip_je_erwerbstätigen                                               401
bruttoentgelt_je_beschäftigte                                       401
durchschnittsalter                                                  401
einkünfte_je_steuerpflichtige                                       401
gestorbene_je_zehntsd                                               401
gewerbeanmeldungen_je_zehntsd                                       401
krankenhausbetten_je_tsd_einwohner                                  401
personal_je_hundert_pflegebedürftige_in_vollpflege                  401
pflegebedürftige_je_tsd_ab_65                                       401
pkw_bestand_je_tsd_einwohner                                        401
plätze_in_pflegenheimen_je_tsd_einwohner_ab_65                      401
übernachtungen_je_einwohner                                         401
unternehmensinsolvenzen_je_zehntsd_steuerpflichtigen_unternehmen    401
verfügbares_einkommen_je_einwohner_in_euro                          401
wanderungssaldo_je_zehntsd_frauen_18_bis_29                         401
wanderungssaldo_je_zehntsd_männer_18_bis_29                         401
dtype: int64

## Anzahl aller Werte

In [8]:
print()
print('Anzahl aller Werte: ', df.size)

Anzahl aller Werte:  13634

## Anzahl der Nicht-0-Werte

In [9]:
print('Anzahl der Nicht-0-Werte:', np.count_nonzero(df))

Anzahl der Nicht-0-Werte: 13616

## Anzahl der 0-Werte

In [10]:
print('Anzahl der 0-Werte:', df.size - np.count_nonzero(df))
#(df == 0).all()

Anzahl der 0-Werte: 18

## Anzahl aller NaN

In [11]:
print('Anzahl aller NaN:\n', df.isna().sum())

Anzahl aller NaN:
 id                                                                  0
name                                                                0
anteil_ausländer                                                    0
anteil_bevölkerung_0_bis_17                                         0
anteil_bevölkerung_18_bis_24                                        0
anteil_bevölkerung_25_bis_44                                        0
anteil_bevölkerung_25_bis_45                                        0
anteil_bevölkerung_65_und_aelter                                    0
anteil_schulabgänger_mit_allg_hochschulreife                        0
anteil_schulabgänger_ohne_hauptschulabschluss                       0
arbeitslosenqoute                                                   0
arbeitsplatzdichte                                                  0
beschäftigenqoute                                                   0
beschäftigte_öffentlicher_je_tsd_einwohner                          0
betreuungsqoute_0_bis_2                                             0
betreuungsqoute_3_bis_5                                             0
bevölkerungsdichte_einwohner_je_qkm                                 0
bevölkerungsentwicklung_pro_jahr_je_zehntsd_einwohner               0
bip_je_erwerbstätigen                                               0
bruttoentgelt_je_beschäftigte                                       0
durchschnittsalter                                                  0
einkünfte_je_steuerpflichtige                                       0
gestorbene_je_zehntsd                                               0
gewerbeanmeldungen_je_zehntsd                                       0
krankenhausbetten_je_tsd_einwohner                                  0
personal_je_hundert_pflegebedürftige_in_vollpflege                  0
pflegebedürftige_je_tsd_ab_65                                       0
pkw_bestand_je_tsd_einwohner                                        0
plätze_in_pflegenheimen_je_tsd_einwohner_ab_65                      0
übernachtungen_je_einwohner                                         0
unternehmensinsolvenzen_je_zehntsd_steuerpflichtigen_unternehmen    0
verfügbares_einkommen_je_einwohner_in_euro                          0
wanderungssaldo_je_zehntsd_frauen_18_bis_29                         0
wanderungssaldo_je_zehntsd_männer_18_bis_29                         0
dtype: int64

## Anzahl aller Null

In [12]:
print('Anzahl aller Null:\n', df.isnull().sum())

Anzahl aller Null:
 id                                                                  0
name                                                                0
anteil_ausländer                                                    0
anteil_bevölkerung_0_bis_17                                         0
anteil_bevölkerung_18_bis_24                                        0
anteil_bevölkerung_25_bis_44                                        0
anteil_bevölkerung_25_bis_45                                        0
anteil_bevölkerung_65_und_aelter                                    0
anteil_schulabgänger_mit_allg_hochschulreife                        0
anteil_schulabgänger_ohne_hauptschulabschluss                       0
arbeitslosenqoute                                                   0
arbeitsplatzdichte                                                  0
beschäftigenqoute                                                   0
beschäftigte_öffentlicher_je_tsd_einwohner                          0
betreuungsqoute_0_bis_2                                             0
betreuungsqoute_3_bis_5                                             0
bevölkerungsdichte_einwohner_je_qkm                                 0
bevölkerungsentwicklung_pro_jahr_je_zehntsd_einwohner               0
bip_je_erwerbstätigen                                               0
bruttoentgelt_je_beschäftigte                                       0
durchschnittsalter                                                  0
einkünfte_je_steuerpflichtige                                       0
gestorbene_je_zehntsd                                               0
gewerbeanmeldungen_je_zehntsd                                       0
krankenhausbetten_je_tsd_einwohner                                  0
personal_je_hundert_pflegebedürftige_in_vollpflege                  0
pflegebedürftige_je_tsd_ab_65                                       0
pkw_bestand_je_tsd_einwohner                                        0
plätze_in_pflegenheimen_je_tsd_einwohner_ab_65                      0
übernachtungen_je_einwohner                                         0
unternehmensinsolvenzen_je_zehntsd_steuerpflichtigen_unternehmen    0
verfügbares_einkommen_je_einwohner_in_euro                          0
wanderungssaldo_je_zehntsd_frauen_18_bis_29                         0
wanderungssaldo_je_zehntsd_männer_18_bis_29                         0
dtype: int64